.home {
  padding-top: calc(#{$header-logo} + #{$header-margin});
}

.home__title {
  line-height: 50px;
  display: flex;
}

.home__title-logo {
  @include retina-sprite($logo-desktop-group);
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
}

.home__posts-list {
  display: flex;
  flex-wrap: wrap;
}

.home__posts-container {
  padding-left: 3vh;
  padding-right: 3vh;
}

.home__posts-item {
  height: 300px;
  width: 25%;
  position: relative;
  overflow: hidden;
}

.home__posts-item-link {
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background-position: center center;
  background-size: cover;
  height: 100%;
  text-decoration: none;
  transform: scale(1);
  transition: transform 0.5s;

  &:hover {
    transform: scale(1.25);
  }
}

.home__posts-item-title {
  color: white;
  text-decoration: none;
  padding: 5%;
  width: 100%;
  box-sizing: border-box;
  font-size: 26px;
  text-shadow: 1px 1px black;
  position: absolute;
  bottom: 0;
  font-family: 'Alegreya Sans', sans-serif;
  pointer-events: none;
  font-weight: 600;
}

.home__posts-item-date {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 5%;
  color: white;
  text-shadow: 1px 1px black;
  font-family: 'Alegreya Sans', sans-serif;
}

.home__actions-container {
  display: flex;
  flex-direction: row;
  padding: 0 3vh 3vh;
  justify-content: space-between;
}

.home__search-input {
  height: 2px;
  border: 1px solid $main-color;
  border-radius: 20px;
  padding: 14px;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: lighten($main-color, 30%);
    font-weight: 100;
  }
}
